

<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url('<%= asset_path 'atlas-green-613287-unsplash.jpg' %>');">
	
	<%= image_tag "logo3.png", :class => "logo3"%>

		<div class="desc animate-box">
			<h2><strong>Découvrez</strong> une nouvelle façon de <strong>communiquer</strong></h2>
			<span><a class="btn btn-primary btn-lg" href="/about">Découvrir !</a></span>
		</div>
	</div>
</div>


<<<<<<< HEAD
	<div class="row col-md-12 " style="margin-top: 100px; margin-left: 50px;">
		 
		<div class="pro1"><%= image_tag "Professionnel.jpg", :class =>"pro"; %> </div>
            
            <div class="col-md-4  heading-section text-justify ">
          
=======
	<div class="row" style="margin-top: 100px;">
		<div class="col-md-6 heading-section text-justify padding">
>>>>>>> 3e46d63ddd4dba0c23f17ea7d760603a2004853f
                <h3><strong>NOTRE VISION</strong></h3><br><br>
L'ISF partage les valeurs des associations telles que TAAC (The Animal Alliance Channel). Pour nous, l'animal possède plusieurs capacités humanisantes.
L'animal pacifie les relations : En milieu carcéral par exemple, le contact animal détourne l'attention des tensions et deviens un sujet de conversation partagé et apporte de la chaleur dans des lieux déshumanisés.
Il éveille, élargit notre conscience : Il existe des pédagogies et programmes d'éveil pour aider les enfants à développer leur potentiel émotionnel et relationnel, l'intuition, l'empathie, le sens de la responsabilité, l'éthique animale.
L'animal soigne l'esprit : Il est capable de consoler, d'apporter du soin et parfois de guérir (enfants autistes, adolescents anorexiques, personnes handicapées, personnes dépressives ou encore personnes âgées placées dans des institutions spécialisées).<p>
	<div class=" heading-section text-justify ">
              
                <h3><strong>NOTRE BUT</strong></h3><br><br>
Nous travaillons main dans la main avec des professionnels, vétérinaires, traducteurs, et autres afin de créer des équipes répondant le plus efficacement à la demande. Nous cherchons à solver les problèmes d'ampleur impliquant humains et animaux.<p>
            </div>
<<<<<<< HEAD
            <div class=" heading-section text-justify ">
               
                <h3><strong>NOTRE OBJECTIF</strong></h3><br><br>
Nous visons à travailler sur 5 à 8 projets par ans afin de pouvoir consacrer une attention particulière à une situation grave à grande échelle. Un nombre réduit d'opérations permet tout d'abord à notre équipe de réaliser des projets personnels, mais surtout d'attester la gravité d'un problème et le crédibiliser.
<p>
            </div>
            </div>
            
        </div>
=======
			</div>

			<div class="container">
			  <div class="row">
				  <div class="col-md-4">
					<div class="card mb-2 box-shadow">
					<%= image_tag "Professionnel.jpg", :class =>"card-img-top pro"%>
					  </div>
					</div>
				  </div>
			  </div>
			</div>
	  </div>     
	</div>
</div>
>>>>>>> 3e46d63ddd4dba0c23f17ea7d760603a2004853f




<!-- end:header-top -->
<div id="fh5co-features">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">

				<div class="feature-left">
					<span class="icon">
						<i class="icon-profile-male"></i>
					</span>
					<div class="feature-copy">
						<h3>Notre équipe</h3>
						<p>Notre équipe de professionels est à l'écoute des animaux, mais aussi des humains ! N'hésitez pas à poser vos questions.</p>
					</div>
				</div>

			</div>

			<div class="col-md-4">
				<div class="feature-left">
					<span class="icon">
						<i class="icon-happy"></i>
					</span>
					<div class="feature-copy">
						<h3>Objectif</h3>
						<p>Le bonheur des animaux est notre prioritée, nous mettons tout en œuvre pour leur bien être.</p>
					</div>
				</div>

			</div>
			<div class="col-md-4">
				<div class="feature-left">
					<span class="icon">
						<i class="icon-wallet"></i>
					</span>
					<div class="feature-copy">
						<h3>Services</h3>
						<p>Nous proposons les services d'intuiteurs qualifiés, pour aider spychologiquement vos animaux</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="fh5co-content-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Intuiteurs</h3>
                <p>Voici notre équipe, cliquez sur leur profil pour pouvoir poser vos questions aux intuiteurs.</p>
            </div>
        </div>
    </div>
    <div class="container">
		<div class="row">
			<% @intuitors.each do |intuitor| %>
				<%= link_to(intuitor) do %>
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<%= image_tag intuitor.avatar.url(:thumb), alt: intuitor.to_s %>
						</figure>

						<div>
							<h3><%= intuitor %></h3>
							<p><span><%= intuitor.diploma %></span></p>
							<p><%= intuitor.description.truncate(50) %></p>
						</div>
				
					</div>
				</div>
				<% end %>

			<% end %>
        </div>
	</div>

	</br>
	<% if(user_signed_in?) %>
	<div class="col-sm-12 text-center padding">
			<button type="button" class="btn btn-sm btn-outline-secondary text-center">
				<%= link_to 'Gérer les Intuiteurs', '/intuitors' %>
			</button>
	</div>
	<% end %>
</div>




