<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <div class="slide-size">
    <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
      <%= image_tag("slide1.jpg", :alt => "fillette et renard") %>
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h1>ISF</h1>
        <p><b>Une connexion inter-espèces</b></p>
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <%= image_tag("slide2.jpg", :alt => "femme et chameau") %>
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h1>ISF</h1>
        <p><b>Une connexion inter-espèces</b></p>
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <%= image_tag("slide3.jpg", :alt => "femme et éléphant") %>
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h1>ISF</h1>
        <p><b>Une connexion inter-espèces</b></p>
      </div>
    </div>
  </div>
<script>
  // Automatic Slideshow - change image every 4 seconds
  var myIndex = 0;
  carousel();

  function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 6000);
  }
</script>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">NOTRE VISION</h2>
    <p class="w3-justify">L'ISF partage les valeurs des associations telles que TAAC (The Animal Alliance Channel).
Pour nous, l'animal possède plusieurs capacités humanisantes.
L'animal pacifie les relations : En milieu carcéral par exemple, le contact animal détourne
l'attention des tensions et deviens un sujet de conversation partagé et apporte de la
chaleur dans des lieux déshumanisés.
Il éveille, élargit notre conscience : Il existe des pédagogies et programmes d'éveil pour
aider les enfants à développer leur potentiel émotionnel et relationnel, l'intuition,
l'empathie, le sens de la responsabilité, l'éthique animale.
L'animal soigne l'esprit : Il est capable de consoler, d'apporter du soin et parfois de
guérir (enfants autistes, adolescents anorexiques, personnes handicapées, personnes
dépressives ou encore personnes âgées placées dans des institutions spécialisées).</p>
  </div>

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">NOTRE BUT</h2>
    <p class="w3-justify">Nous travaillons main dans la main avec des professionnels, vétérinaires, traducteurs, et
autres afin de créer des équipes répondant le plus efficacement à la demande. Nous
cherchons à solver les problèmes d'ampleur impliquant humains et animaux.</p>
  </div>

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">NOS OBJECTIFS</h2>
    <p class="w3-justify">Nous visons à travailler sur 5 à 8 projets par ans afin de pouvoir consacrer une attention
particulière à une situation grave à grande échelle. Un nombre réduit d'opérations
permet tout d'abord à notre équipe de réaliser des projets personnels, mais surtout
d'attester la gravité d'un problème et le crédibiliser.</p>
  </div>

  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">L'ÉQUIPE</h2>
      <p class="w3-opacity w3-center"><i>Voici la liste de nos intuiteurs</i></p><br>

        <div class="container">
          <div class="grid">
            <% @intuitors.each do |intuitor| %>
              <div class="cell">
              <p><%= intuitor.first_name + "  " + intuitor.last_name %></p>
              <%= link_to image_tag(intuitor.avatar.url(:medium), :border => 0, :alt => 'intuitor.first_name + "  " + intuitor.last_name', :title => 'intuitor.first_name + "  " + intuitor.last_name'), intuitor, :class => 'w3-round responsive-image intuiteur-avatar' %>
              </div>
            <% end %>
          </div>
        </div>


    </div>
  </div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32">
        <span onclick="document.getElementById('ticketModal').style.display='none'"
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>

<!-- End Page Content -->
</div>
