<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url('<%= asset_path 'atlas-green-613287-unsplash.jpg' %>');">
		<div class="desc animate-box">

		</div>
	</div>
</div>
<!-- end:header-top -->
<div id="fh5co-features">
	<div class="container">
		<div class="row">
			<div class="col-md-4">

				<div class="feature-left">
					<span class="icon">
						<i class="icon-profile-male"></i>
					</span>
					<div class="feature-copy">
						<h3>Notre équipe</h3>
						<p>Notre équipe de professionels est à l'écoute des animaux, mais aussi des humains ! N'hésitez pas à poser vos questions.</p>
						<p><a href="#">Learn More</a></p>
					</div>
				</div>

			</div>

			<div class="col-md-4">
				<div class="feature-left">
					<span class="icon">
						<i class="icon-happy"></i>
					</span>
					<div class="feature-copy">
						<h3></h3>
						<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
						<p><a href="#">Learn More</a></p>
					</div>
				</div>

			</div>
			<div class="col-md-4">
				<div class="feature-left">
					<span class="icon">
						<i class="icon-wallet"></i>
					</span>
					<div class="feature-copy">
						<h3>Donation</h3>
						<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
						<p><a href="#">Learn More</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="fh5co-content-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Intuiteurs</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
            </div>
        </div>
    </div>
    <div class="container">
		<div class="row">
			<% @intuitors.each do |intuitor| %>
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<%= image_tag intuitor.avatar.url(:thumb), alt: intuitor.to_s %>
						</figure>

						<div>
							<h3><%= intuitor %></h3>
							<p><span><%= intuitor.diploma %></span></p>
							<p><%= intuitor.description.truncate(50) %></p>
						</div>
						
						<p class="fh5co-social-icons">
							<a href="#"><i class="icon-twitter2"></i></a>
							<a href="#"><i class="icon-linkedin2"></i></a>
							<a href="#"><i class="icon-facebook3"></i></a>
						</p>
					</div>
				</div>
			<% end %>
        </div>
    </div>
</div>




