<%= form_for @intuitor do |f| %>
  <% if intuitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intuitor.errors.count, "error") %> prohibited this intuitor from being saved:</h2>

      <ul>
      <% intuitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, id: :intuitor_avatar %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, id: :intuitor_first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, id: :intuitor_last_name %>
  </div>

  <div class="field">
    <%= f.label :mail %>
    <%= f.text_field :mail, id: :intuitor_mail %>
  </div>

  <div class="field">
    <%= f.label :diploma %>
    <%= f.text_field :diploma, id: :intuitor_diploma %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, id: :intuitor_description %>
  </div>

  <div class="field">
  <%= f.label :description %>
  <%= f.text_area :description, id: :intuitor_description %>
  </div>
  <div class="field">
    <%= f.select :category_id, Category.all.collect { |p| [ p.title, p.id ] }%>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website, id: :intuitor_website %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
