<div class="container-intuit">
  <p id="notice"><%= notice %></p>
  <div class="img-intuit">
  <p>
    <%= image_tag @intuitor.avatar.url(:medium) %>
  </p>
  </div>
  <p>
    <strong>Prénom:</strong>
    <%= @intuitor.first_name %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= @intuitor.last_name %>
  </p>

  <p>
    <strong>Diplôme:</strong>
    <%= @intuitor.diploma %>
  </p>

  <p>
    <strong>Catégorie:</strong>
    <%= @intuitor.category.title %>
  <p>

  <p>
    <%= @intuitor.description %>
  </p>

  <p>
    <%= @intuitor.website %>
  </p>


  <p>
  <a href="mailto:  <%= @intuitor.mail %> ">Contacter</a>
  </p>
  <p>
  <%= link_to 'Modifier', edit_intuitor_path(@intuitor) %>
  </p>
  <p>
  <%= link_to 'Liste des intuiteurs', intuitors_path %>
  </p>
</div>