<div class="container-intuit">
  <p id="notice"><%= notice %></p>

<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="<%= @intuitor.avatar.url %>" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3><%= @intuitor.to_s %></h3>
        <p><strong><%= @intuitor.diploma %></strong></p>
        <p><%= @intuitor.description %></p>

        <em><a class="btn btn-secondary" href="mailto:  <%= @intuitor.mail %>" role="button">Contacter »</a></em>
		</center>
    </div>
</div>