<div class="container-intuit">
  <p id="notice"><%= notice %></p>
  <div class="img-intuit">
  <p>
    <%= image_tag @intuitor.avatar.url(:medium) %>
  </p>
  </div>
  <p>
    <strong>Prénom:</strong>
    <%= @intuitor.first_name %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= @intuitor.last_name %>
  </p>

  <p>
    <strong>Diplôme:</strong>
    <%= @intuitor.diploma %>
  </p>

  <p>
    <strong>Catégorie:</strong>
    <%= @intuitor.category.title %>
  <p>

  <p>
    <a href="mailto:  <%= @intuitor.mail %> ">Contacter</a>
  </p>
  <p>
  <%= @intuitor.description %>
  </p>

  <p>
    <%= @intuitor.website %>
  </p>


  <p>
  <a href="mailto:  <%= @intuitor.mail %> ">Contacter</a>
  </p>
  <p>
  <%= link_to 'Modifier', edit_intuitor_path(@intuitor) %>
  </p>
  <p>
  <%= link_to 'Liste des intuiteurs', intuitors_path %>
  </p>
</div>



<div id="fh5co-content-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Intuiteurs</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
            </div>
        </div>
    </div>
    <div class="container">
		<div class="row">
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<%= image_tag @intuitor.avatar.url(:medium), alt: @intuitor.to_s %>
						</figure>

						<div>
							<h3><%= @intuitor %></h3>
							<p><span><%= @intuitor.diploma %></span></p>
							<p><%= @intuitor.description.truncate(50) %></p>
						</div>
						
						<p class="fh5co-social-icons">
							<a href="#"><i class="icon-twitter2"></i></a>
							<a href="#"><i class="icon-linkedin2"></i></a>
							<a href="#"><i class="icon-facebook3"></i></a>
						</p>
					</div>
				</div>
        </div>
    </div>
</div>