<p id="notice"><%= notice %></p>
<button type="button" class="btn btn-sm btn-outline-secondary">
    <%= link_to '< Retour', categories_path %>
</button>
  
<div align="center">
  <h3>Envoyer votre demande aux intuiteurs</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :category, :required => true %>
    <%= f.input :first_name, :required => true %>
    <%= f.input :last_name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :phone_number %>
    <%= f.input :company %>
    <%= f.input :attitude %>
    <%= f.input :photo, :as => :file %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
    <p>Les champs suivis d'une * sont obligatoire</p>
    </br>
    <%= f.button :submit, 'Envoyer votre demande', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
</br>