<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ISF</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div id="fh5co-wrapper">
      <div id="fh5co-page">
        <div class="header-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-right fh5co-social">
                <a href="https://www.facebook.com/dialoguesaveclanimal.org/" class="grow"><i class="icon-facebook2"></i></a>
              </div>
            </div>
          </div>
        </div>
        <header id="fh5co-header-section" class="sticky-banner">
          <div class="container">
            <div class="nav-header">
              <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
              
              <h1 id="fh5co-logo"><a href="../"><%= image_tag 'logo.png', alt: '', class: 'img-responsive' %></a></h1>
              <!-- START #fh5co-menu-wrap -->
              <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">
                  <li class="active">
                    <%= link_to 'Accueil', root_path %>
                  </li>
                  <li>
                    <%= link_to 'À propos', about_url %>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
        <%= yield %>
        <footer>
          <div id="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <p class="fh5co-social-icons">
                    <a href="https://www.facebook.com/dialoguesaveclanimal.org/"><i class="icon-facebook2"></i></a>
                    <a href="#"><i class="icon-youtube"></i></a>
                  </p>
                  <p>©2018 ISF</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
